In [91]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [92]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

backers_info = pd.read_csv('backer_info.csv')
backers_info

                                                                                             backer_info
0           {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1           {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2             {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3     {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4                  {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}
...                                                                                                  ...
8170     {"backer_id": "st581", "cf_id": 65, "name": "Serita Thebault", "email": "sthebault@yandex.com"}
8171    {"backer_id": "gf637", "cf_id": 563, "name": "Glenn Foerstner", "email": "gfoerstner@yahoo.com"}
8172        {"backer_id": "rc983", "cf_id": 1114, "name": "Robt Collin", "email": "rcollin@outlook.com"}
8173          {"backer_id": "cz381", "cf_id": 65, "name": "Corina Zappa", "email": "czappa@outlook.com"}
8174         {"backer_id": "fg535", "cf_id": 65, "name": "Freeman Gibbs", "email": "fgibbs@outlook.com"}

[8175 rows x 1 columns]

In [93]:

# Iterate through the backers DataFrame and convert each row to a dictionary.
dict_values = []
for i, row in backers_info.iterrows():
    data = row['backer_info']
    converted_data = json.loads(data)
    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    row_values = [k for v, k in converted_data.items()]
    # Append the list of values for each row to a list. 
    dict_values.append(row_values)

# Print out the list of values for each row.
# print(dict_values)

In [94]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists.
backers_df = pd.DataFrame(dict_values, columns=['backer_id','cf_id', 'name','email'])
backers_df.sample(5)

     backer_id  cf_id                name                    email
2060     jf105    563          Jost Fried         jfried@yahoo.com
1348     dr621   1114       Dagmar Rollet      drollet@outlook.com
984      jc963   1114       Joyce Cilento  jcilento@protonmail.com
661      cd370   1114        Conrad Dupuy          cdupuy@live.com
2686     ec490     65  Erminia Cantarella    ecantarella@gmail.com

In [95]:
# Export the DataFrame as a CSV file using encoding='utf8'.
# backers_df_export = backers_df.to_csv('backers.csv',encoding='utf8',index=False)

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [96]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backers_info = pd.read_csv('backer_info.csv')

backers_info.sample(5)

                                                                                        backer_info
129   {"backer_id": "ja340", "cf_id": 1114, "name": "Janeth Adam", "email": "jadam@protonmail.com"}
5765          {"backer_id": "zc597", "cf_id": 65, "name": "Zack Cote", "email": "zcote@yandex.com"}
4626      {"backer_id": "as479", "cf_id": 238, "name": "Alphonso Soli", "email": "asoli@yahoo.com"}
3977         {"backer_id": "rp502", "cf_id": 65, "name": "Rey Pruitt", "email": "rpruitt@live.com"}
6323        {"backer_id": "sr596", "cf_id": 65, "name": "Sindy Rende", "email": "srende@yahoo.com"}

In [97]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".
backers_df = backers_info.copy()
backers_df['backer_id'] = backers_info['backer_info'].str.extract(r'(\w{2}\d{3})')
backers_df.sample(5)

,backer_info,backer_id
2755,"{""backer_id"": ""jg807"", ""cf_id"": 968, ""name"": ""Jona Guerrero"", ""email"": ""jguerrero@live.com""}",jg807
2647,"{""backer_id"": ""ea532"", ""cf_id"": 1572, ""name"": ""Elizabetta Adkins"", ""email"": ""eadkins@protonmail.com""}",ea532
8126,"{""backer_id"": ""kl379"", ""cf_id"": 968, ""name"": ""Kunigunde Lawrence"", ""email"": ""klawrence@protonmail.com""}",kl379
1855,"{""backer_id"": ""pb923"", ""cf_id"": 65, ""name"": ""Pei Burris"", ""email"": ""pburris@live.com""}",pb923
1537,"{""backer_id"": ""rj597"", ""cf_id"": 563, ""name"": ""Ricky Johns"", ""email"": ""rjohns@outlook.com""}",rj597

In [98]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
backers_df['cf_id'] = backers_info['backer_info'].str.extract(r'\s(\d{2,4}),')
backers_df.sample(5)

,backer_info,backer_id,cf_id
7742,"{""backer_id"": ""gh285"", ""cf_id"": 1572, ""name"": ""Gavin Hauer"", ""email"": ""ghauer@outlook.com""}",gh285,1572
934,"{""backer_id"": ""mb313"", ""cf_id"": 1572, ""name"": ""Montrel Beckert"", ""email"": ""mbeckert@yandex.com""}",mb313,1572
2622,"{""backer_id"": ""lg151"", ""cf_id"": 1911, ""name"": ""Lucie Gross"", ""email"": ""lgross@protonmail.com""}",lg151,1911
4886,"{""backer_id"": ""fc594"", ""cf_id"": 1572, ""name"": ""Faustine Chopin"", ""email"": ""fchopin@yandex.com""}",fc594,1572
4786,"{""backer_id"": ""am496"", ""cf_id"": 65, ""name"": ""Abrielle Martinez"", ""email"": ""amartinez@outlook.com""}",am496,65

In [99]:
# Extract the name from the backer_info column and add it as a new column called "name".
backers_df['name'] = backers_info['backer_info'].str.extract(r'"([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)')
backers_df.sample(5)

,backer_info,backer_id,cf_id,name
2369,"{""backer_id"": ""jc319"", ""cf_id"": 563, ""name"": ""Jacob Calderon"", ""email"": ""jcalderon@gmail.com""}",jc319,563,Jacob Calderon
899,"{""backer_id"": ""rg638"", ""cf_id"": 1114, ""name"": ""Rosa Glover"", ""email"": ""rglover@yandex.com""}",rg638,1114,Rosa Glover
6167,"{""backer_id"": ""lf812"", ""cf_id"": 563, ""name"": ""Leontine Fulco"", ""email"": ""lfulco@protonmail.com""}",lf812,563,Leontine Fulco
5373,"{""backer_id"": ""fg804"", ""cf_id"": 65, ""name"": ""Frida Garza"", ""email"": ""fgarza@yandex.com""}",fg804,65,Frida Garza
6237,"{""backer_id"": ""ap542"", ""cf_id"": 968, ""name"": ""Anjanette Pratt"", ""email"": ""apratt@gmail.com""}",ap542,968,Anjanette Pratt

In [100]:
# Extract the email from the backer_info column and add it as a new column called "email".
backers_df['name'] = backers_info['backer_info'].str.extract(r'"([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)')
backers_df.sample(5)

,backer_info,backer_id,cf_id,name
3160,"{""backer_id"": ""jl971"", ""cf_id"": 1114, ""name"": ""Jarrett Lacroix"", ""email"": ""jlacroix@gmail.com""}",jl971,1114,Jarrett Lacroix
5134,"{""backer_id"": ""qb828"", ""cf_id"": 65, ""name"": ""Qiana Blumenthal"", ""email"": ""qblumenthal@gmail.com""}",qb828,65,Qiana Blumenthal
3316,"{""backer_id"": ""zw654"", ""cf_id"": 65, ""name"": ""Zachariah Walls"", ""email"": ""zwalls@live.com""}",zw654,65,Zachariah Walls
1396,"{""backer_id"": ""lh344"", ""cf_id"": 1572, ""name"": ""Louis Holder"", ""email"": ""lholder@protonmail.com""}",lh344,1572,Louis Holder
5371,"{""backer_id"": ""ys400"", ""cf_id"": 65, ""name"": ""Yanira Sarno"", ""email"": ""ysarno@outlook.com""}",ys400,65,Yanira Sarno

In [101]:
# Create a new DataFrame with the appropriate columns.
backers_df['email'] = backers_info['backer_info'].str.extract(r'"(\S+@\S+)"')
backers_df = backers_df.drop(['backer_info'], axis=1)
backers_df.head(10)

  backer_id cf_id              name                  email
0     av166   968    Angelo Vincent      avincent@live.com
1     ha127   563     Hubert Arnold     harnold@yandex.com
2     lg794    65      Loris Goulet     lgoulet@yandex.com
3     tb566   563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506   563        Lexie Hunt         lhunt@live.com
5     lh382   563     Lambert Huber        lhuber@live.com
6     em444   563        Emmy Morin        emorin@live.com
7     at582  1572     Armonda Trani        atrani@live.com
8     id772  1911        Ilana Duke      iduke@outlook.com
9     lw275    65     Leigha Wright       lwright@live.com

In [108]:
# Export the DataFrame as a CSV file using encoding='utf8'.
contact_export = backers_df.to_csv('backers.csv',encoding='utf8',index=False)

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [109]:
# Check data types.
backers_df.dtypes

backer_id    object
cf_id        object
name         object
email        object
dtype: object

In [110]:
# Convert cf_id to an integer if necessary.
backers_df['cf_id'] = backers_df['cf_id'].astype('int')
backers_df.dtypes

backer_id    object
cf_id         int64
name         object
email        object
dtype: object

In [112]:
# Split the "name" column into "first_name" and "last_name" columns.
backers_df[['first_name','last_name']] = backers_df['name'].str.split(' ',n=1,expand=True)

In [113]:
#  Drop the name column
backers_df = backers_df.drop(['name'],axis=1)

# Reorder the columns
backers_df = backers_df[["backer_id", "cf_id", "first_name", "last_name", "email"]]

In [114]:
# Export the DataFrame as a CSV file using encoding='utf8'.
contact_export = backers_df.to_csv('backers.csv',encoding='utf8',index=False)

In [115]:
backers_df

     backer_id  cf_id first_name  last_name                  email
0        av166    968     Angelo    Vincent      avincent@live.com
1        ha127    563     Hubert     Arnold     harnold@yandex.com
2        lg794     65      Loris     Goulet     lgoulet@yandex.com
3        tb566    563    Teodora   Brunelli  tbrunelli@outlook.com
4        lh506    563      Lexie       Hunt         lhunt@live.com
...        ...    ...        ...        ...                    ...
8170     st581     65     Serita   Thebault   sthebault@yandex.com
8171     gf637    563      Glenn  Foerstner   gfoerstner@yahoo.com
8172     rc983   1114       Robt     Collin    rcollin@outlook.com
8173     cz381     65     Corina      Zappa     czappa@outlook.com
8174     fg535     65    Freeman      Gibbs     fgibbs@outlook.com

[8175 rows x 5 columns]